.tag-line {
  text-align: center;
  margin: 20px 0;

  text-transform: uppercase;

  font-size: 13px;
  font-weight: 550;
  letter-spacing: 2px;
  line-height: 25px;
}
.landing-card-panel {
  display: flex;
  justify-content: space-between;

  margin: 20px 0 20px 0;
  /* border-top: 1px solid #cbcbcb; */
  /* border-bottom: 1px solid #cbcbcb; */
}

.landing-card-column {
  display: flex;
  align-items: center;

  width: 32%;
  border: 1px solid #cbcbcb;

  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, 'Segoe UI', Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: normal;
  text-align: inherit;
  text-transform: none;
  color: inherit;
  font-size: 13px;
}

.landing-card-img {
  height: 30px;
  margin: 29px 15px 29px 25px;
  width: 30px;
}

.landing-card-text {

}

.landing-card-title {
  
}

.landing-card-detail {
  
}