.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
  border: 1px solid black;

  padding: 50px;
}

.login-container form {
  margin: 0 auto;
  /* height: 50vh; */
}

.input-holder {
  display: flex;
  flex-direction: column;
}

.input-holder label {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, 'Segoe UI', Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 20px;
  border: 1px solid black;
}

.input-holder input  {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, 'Segoe UI', Roboto, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  width: 300px;
  padding: 10px 16px;
  font-size: 16px;
}