.item-display-container {
  max-width: 209px;
  margin: 0 10px 10px;
  padding: 10px;

  /* border: 1px black solid; */
}

.item-cover-photo {
  display: flex;
  align-items: center;
  width: 209px;
  height: 279px;
}

.item-cover-photo img {
  max-width: 209px;
  max-height: 279px;
  min-height: 279px;
}

.post-date {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
  font-weight: 500;
  color: #cacaca;
  text-decoration: underline;

  padding: 5px 0 3px 0;
}

.item-metadata {
  padding-top: 3px;
}

.item-metadata .item-brand-and-size {
  display: flex;
  justify-content: space-between;
}

.item-metadata .item-brand-and-size .item-brand {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.item-metadata .item-brand-and-size .item-size {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.item-title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 6px 0 2px 0;
  font-weight:  600;
  font-family: "Proxima Nova", sans-serif;
}

.item-title div {
  padding-bottom: 1px;
}

.item-price-and-heart {
  display: flex;
}

.item-price-and-heart .item-price {
  display: flex;
  flex: 1;
  padding-top: 4px;
}

.item-price-and-heart .item-price h3{
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  font-size: 11px;
}