@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

/* Container */

.account-container {
  display: flex;
  flex-direction: column;
}

.account-header {
  display: flex;
  
  height: 100%;

  padding: 20px 0 20px 0;
  margin: 0 auto;

}

.account-header-spacer {
  /* border-top: 1px solid #838383;
  width: 100%;
  height: 20px; */
}

/* Header */

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.details h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 6px;
  font-family: "Monserrat", sans-serif;

}

.details .static-info {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
}

.details .static-info span {
  font-size: 12px;
  font-family: "Monserrat", sans-serif;
  font-weight: 500;
}

/* Main */

.account-main {
  border-top: 1px solid #838383;
  padding-top: 10px;
  display: flex;
  flex-direction: row;
}

/* Main Content */

.account-main-content {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* border: 3px solid brown; */
  
  width: 100%;
}