.sub-navigation {
  width: 169px;
  padding: 0 10px 10px 10px;
  border: 1px red solid;
}

.sub-navigation li {
  padding: 5px 0 3px 0;
}

.sub-navigation-contents {
  background: #f0f0f0;
  padding: 20px 10px 30000px 10px;
  width: 160px;
  margin-bottom: -30000px;
}

.sub-nav-header {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #838383;
}

.sub-nav-header h4 {
  font-size: 11px;
  text-transform: uppercase;
  color: #838383;
}

.sub-nav-spacer {
  height: 10px;
}

.main-nav {
  padding: 10px 0 20px 0px;
}

.main-nav ul {
  margin-left: 10px;
}

.main-nav a {
  color: #000000;
  text-decoration: none;
  font-size: 11px;
}

.colour-filter {
  padding: 10px 0 20px 0px;
}

.colour-filter a {
  padding-left: 5px;
  color: #000000;
  text-decoration: none;
  font-size: 11px;
}

.designer-filter {
  padding: 10px 0 20px 0px;
}

.designer-filter a {
  padding-left: 5px;
  color: #000000;
  text-decoration: none;
  font-size: 11px;
}