.item-container {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f0f0;

  width: 720px;
}

.item-container h4 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
  
  padding: 20px;
}

/* Item Panel */

.item-panel {
  display: flex;
}

/* Item Image */

.item-image {
}

.item-img img {
  width: 400px;
  height: auto;
}

/* Item Detail */

.item-details {
  display: flex;
  flex-direction: column;

  padding: 0 10px 10px 10px;
  margin: 2px 10px 10px 10px;
}

/* Detail Box */

.item-detail-box {
  display: flex;
  justify-content: space-between;
}

.item-meta-data {
  margin-bottom: 5px;
}

.item-meta-data h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 22px;
  font-weight: 600;
  text-decoration: underline;
}

.item-meta-data h2 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 14px;
  line-height: 15px;

  margin-top: 10px;
}

/* Item Price */

.item-price {
  margin: 25px 0 0 0;
}

.item-price span {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 16px;
  font-weight: 600;

  line-height: 20px;
}

.item-shipping-price {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 25px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* margin: 10px 0 10px 0; */

}

.item-shipping-price span:nth-child(1) {
  text-transform: uppercase;
  font-size: 14px;
}
.item-shipping-price span:nth-child(2) {
  text-transform: uppercase;
  font-size: 10px;

  color: #737373;
}

/* Buttons */

.item-buttons {
  margin: 30px 0 30px 0;
}

.item-details button {
  padding: 14px 25px;
  width: 100%;
  border: 1px black solid;
  border-radius: 2.5px;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.item-details .purchase button {
  color: white;
  background: black;
}
.item-details .message button {
  color: black;
  background: white;

  margin-top: 10px;
}

/* User Card */

.user-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px 0;
  /* padding: 12px 3px 12px 3px; */
  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
  margin: 0 0 20px 0;
}

.card-image img {
  width: 90px;
  height: auto;
  border-radius: 50%;
}

.card-details h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

.card-details h2 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;

}

/* Item Description */

.item-description {
  border-bottom: 1px solid #737373;
  padding-bottom: 30px;
}

.item-description h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 25px;
}

.item-description p {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;

  margin: 8px 0 0 0;
}

/* Date Posted */

.date-posted h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 40px;
}