.item-container {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  width: 100%;

  padding-top: 35px;
}

/* Item Panel */

.item-panel {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* Left Panel */
.item-panel-left {
  width: 50%;
  /* margin: 0 auto; */
  margin-left: 5%;
  margin-right: 5%;
}
/* Item Image */

.item-image {
  /* width: 480px; */
  /* height: 480px; */

  /* border: 1px solid black; */
}

.item-image img {
  width: 100%;
  object-fit: cover;

  max-width: 480px;
  max-height: 460px;
}

/* Picture Options */
.picture-options {

  padding: 20px 0 20px 0;
  margin-top: 20px;

  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
}

.picture-options img {
  width: 90px;
  height: auto;
  border-radius: 50%;
}

/* Right Panel */

.item-panel-right {
  width: 50%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

/* Detail Box */

.item-detail-box {
  display: flex;
  justify-content: space-between;
}

.item-meta-data {
}

.item-meta-data h1 {
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  margin: 0 0 12px 0;
}

.item-meta-data h2 {
  line-height: 15px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

/* Item Price */

.item-price {
  padding: 25px 0 25px 0;
}

.item-price span {
  font-size: 14px;
  font-weight: 500;
}

.item-shipping-price {
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-shipping-price span:nth-child(1) {
  text-transform: uppercase;
  font-size: 14px;
}
.item-shipping-price span:nth-child(2) {
  text-transform: uppercase;
  font-size: 10px;

  color: #737373;
}

/* Buttons */

.item-buttons {
  padding: 20px 0 20px 0;
  margin: 0 0 25px 0;
}

.item-panel-right button {
  padding: 18px 25px;
  width: 100%;
  border: 1px black solid;
  border-radius: 2.5px;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin: 20px 0 0 0;
}

.item-panel-right .purchase button {
  color: #fff;
  background: #000;
}
.item-panel-right .message button {
  color: #000;
  background: #fff;
}

/* User Card */

.user__nav__link {
  text-decoration: none;
  color: #000;
}

.user-card {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;

  padding: 20px 0 20px 0;
  margin: 25px 0 25px 0;

  border-top: 1px solid #737373;
  border-bottom: 1px solid #737373;
}

.card-image img {
  width: 90px;
  height: auto;
  border-radius: 2px;
  object-fit: cover;
}

.card-details h1 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 0 6px 0;
}

/* Item Description */

.item-description h1 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 25px;
}

.item-description p {
  font-size: 14px;
  margin: 10px 0 10px 0;
}

/* Date Posted */

.date-posted {
  /* padding: 6px 0 6px 0; */
}

.date-posted span {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.4px;
  /* line-height: 50px; */
}

.sold {
  line-height: 24px;
  font-weight: 1000;
  font-size: 28px;
  text-decoration: underline;
}