.item-feed-container {
  margin: 20px 0 20px 0;
}

.item-feed-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 0 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}