.feedback-container {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* background-color: #f0f0f0; */

  width: 720px;
}

.feedback-container h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 25px;
  font-family: Georgia, Times, Serif;
}

.feedback-panel {
  margin-left: 60px;
  margin-right: 60px;
}