.settings-container {
  
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f0f0;
}

.settings-container h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  padding: 20px;
  text-transform: uppercase;

  font-weight: 600;
}

.user-info-panel {
  display: flex;
  justify-content: space-between;
  align-items: stretch;

}

.user-info-panel label {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 11px;
  line-height: 30px;
  text-transform: uppercase;
  color: #737373;
}

.user-info-panel input {
  padding: 8px 10px;
  width: 220px;
  
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.user-info-panel button {
  padding: 10px;
  width: 200px;
}


.left {
  flex: 1;
  flex-direction: column;
  
  padding: 15px;
}

.right {
  flex: 1;
  flex-direction: column;

  padding: 15px;
}

.left .inner {
  padding: 0 0 15px 0;
}

.right .inner {
  padding: 0 0 15px 0;
}