.settings-container {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* background-color: #f0f0f0; */
}

.settings-container h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 25px;
  font-family: Georgia, Times, Serif;
}

.user-info-panel {
  display: flex;
  /* justify-content: space-between;
  align-items: stretch; */

}

.user-info-panel label {
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500;
  color: #000;
}

.user-info-panel input {
  padding: 10px 12px;
  width: 220px;
  border: 1px solid #cccccc;  
}

.user-info-panel button {
  padding: 10px;
  margin-top: 30px;
  width: 220px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 0.4px;
}


.left {
  flex: 1;
  flex-direction: column;
  
  /* padding: 15px; */
  margin: 30px;
}

.right {
  flex: 1;
  flex-direction: column;

  /* padding: 15px; */
  margin: 30px;
}

.left .inner {
  padding: 0 0 3px 0;
}

.right .inner {
  padding: 0 0 3px 0;
}

@media screen and (max-width: 768px) {
  .user-info-panel {
    flex-direction: column;
    width: 100%;
  }

  .user-info-panel input{
    width: 100%;
  }

  .user-info-panel button {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.4px;
    padding: 16px;
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 3px;
  }

  
}