@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

.not-logged-in {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  margin: 80px;
  border: 1px solid #cbcbcb;
  font-family: 'Montserrat', serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: underline;
}