.chat-messages-container {
  margin: 5px 0;
  border: 1px solid #cbcbcb;

}

.chat-messages-header {
  width: 100%;
  /* border: 1px solid #cbcbcb; */
  display: flex;
  align-items: flex-start;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.chat-messages-header-img img{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-right: 8px;
}