.message-inbox-container {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* background-color: #f0f0f0; */

  width: 720px;
}

.message-inbox-container h1 {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 25px;
  font-family: Georgia, Times, Serif;
  padding-bottom: 35px;
}

.message-inbox-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-inbox-tabs {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.buying-div {
  border: 1px solid black;
  font-size: 12px;
  padding: 12px;
  max-width: 360px;
  min-width: 360px;

  text-align: center;
  color: black;

  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.selling-div {
  border: 1px solid black;
  font-size: 12px;
  padding: 12px;
  max-width: 360px;
  min-width: 360px;

  text-align: center;
  color: black;

  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;

  /* background: white; */
}

.message-inbox-list {
  margin: 0 auto;
  width: 100%;
  /* max-width: 565px; */
  /* min-width: 565px; */
}

@media screen and (max-width: 768px) {

  .message-inbox-container {
    width: 100%;
  }
  .buying-div {
    min-width: 50%;
  }

  .selling-div {
    min-width: 50%;
  }
}