/* Container */

.post-item-container {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #f0f0f0;

  width: 720px;
}

.post-item-container h1 {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;

  text-transform: uppercase;
  text-align: center;
  
  line-height: 30px;
  
  letter-spacing: 1px;

  padding: 20px;
}

.post-item-container h3 {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 24px;

  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Item Panel */

.item-panel {
  display: flex;
  flex-direction: column;

  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  border: 1px solid black;


  padding: 10px;
  margin: 10px;
}

/* Detail Panel */

.item-detail-panel {
  width: 100%;
  min-height: 120px;

  padding: 10px;
  margin: 10px;

}

.item-details {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  align-items: center;
}

.item-details .left-column {
  width: 50%;
  /* padding: 10px; */
  /* margin: 10px; */
}

.item-details .right-column {
  width: 50%;
  /* padding: 10px; */
  /* margin: 10px; */
}

.item-details input {
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 300px;
  font-size: 12px;
  
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.item-details select {
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 300px;
  font-size: 12px;
  color: #757575;

  border: 1px solid #cccccc;
  border-radius: 0;
  appearance: none;
  background: #fff;

  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Description Panel */

.item-description-panel {
  padding: 10px;
  margin: 10px;
}

.item-description-panel textarea {


  border: 1px solid #666;
  border-radius: 1.5px;
  padding: 15px;
  min-height: 120px;
  width: 100%;

  font-size: 12px;
}

/* Payment Panel */

.item-payment-panel {
  padding: 10px;
  margin: 10px;
}

.payment-details {
  display: flex;
}

.payment-details .left-column {
  width: 50%;
}

.payment-details .right-column {
  width: 50%;
}

.payment-details input {
  margin-bottom: 10px;
  padding: 8px 10px;
  width: 300px;
  font-size: 12px;
  
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Image Panel */

.item-image-panel {
  /* width: 100%; */
  /* min-height: 330px; */

  padding: 10px;
  margin: 10px;
}

.item-images {
  border: 1px solid black;
}

.item-images button {
  padding: 10px;
  width: 100%;
}

.header-image {
  margin: 18px;
}

.header-image img {
  width: 100%;
  height: auto;
}

/* Condition Signals */

.conditional-signal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signal {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.signal span {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: red;
  text-transform: uppercase;
}

.error-signal {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  font-weight: 400;
  color: red;
}
.success-signal {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px;
  font-weight: 400;
  color: green;
}

/* Form Button */

.item-form-button {
  padding: 10px;
  margin: 10px;
}

.item-form-button button {
  padding: 10px;
  width: 100%;
}