@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
  box-sizing: border-box;
}

.app-container {
  max-width: 100%;
  
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  background-color: #ececec;
  /* background-color: #24252a; */
}



li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  /* color: #edf0f1; */
  color: black;
}

img {
  max-width: 200px;
  width: 100%;
}

.logo {
  cursor: pointer;
  /* margin-right: auto; */
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  /* margin-left: 20px; */
  padding: 7.5px 23px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  color: #0088a9;
  background-color: rgba(0, 136, 169, 0.8);
}

.user-options {
  position: absolute;
  right: 1rem;
}

.dropdown {
  position: relative;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.dropdown h2 {
  color: #000000;
  padding: 12px;
  font-size: 16px;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

/* .dropdown-content .nav-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


main  {
  display: flex;
  height: 100%;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  border: 1px dotted darkcyan;
}

footer {
  background-color: #ececec;

  font-family: Georgia,Times,serif;
  font-size: 12px;
  letter-spacing: .02em;
  line-height: 30px;
  text-transform: uppercase;
}

.app-footer {
  display: flex;
  justify-content: center;

  max-width: 960px;
  padding: 32px 0 40px;
  margin: 0 auto;
  line-height: 30px;

}

.footer-column {
  width: calc(25% - 40px);

  border: 1px solid green;
  margin: 6px;
}

.footer-column ul li {
  padding: 6px;
}