@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
  box-sizing: border-box;
}

.app-container {
  max-width: 100%;
  
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.item-heart:hover {
  cursor: pointer;
}

main  {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

footer {
  background-color: #ececec;
  margin-top: 40px;
}

.app-footer {
  display: flex;
  justify-content: space-around;

  max-width: 960px;
  padding: 32px 0 32px;
  margin: 0 auto;
  line-height: 30px;

  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
}

.footer-column {
  width: calc(25% - 40px);
  margin: 6px;
  text-align: center;
}

.footer-column ul li {
  padding: 6px;
}