/* Parent container Div for entire App */
.wrap-container {

}

.wrap header {
  border: 0.8px #B6C9AD solid;
}
.wrap nav {
  border: 0.8px #B6C9AD solid;
}
.wrap div {
  border: 0.8px #B6C9AD solid;
}

#main {
  width: 962px;
  margin: auto;
  display: inline;
  border: 0.8px peachpuff solid;
}


.page-central-header {
  width: 960px;
  text-align: center;
}

#header-title {
  padding: 20px 0 20px 0;
}

#header-title h1 {
  font-size: 28px;
  line-height: initial;
}
