
.global-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 25px 10px;

  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb;

  position: fixed;
  width: 100%;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.spacer {
  height: 100px;
}

.logo-container {
  cursor: pointer;
  margin-right: auto;
}

.logo {
  max-width: 200px;
  width: 100%;
  margin-right: auto;
}

.nav__links {
  list-style: none;

}

.nav__links li {
  display: inline-block;
  margin: 0 20px;
}

.nav__link {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav__link__sell {
  border: 1px solid #cbcbcb;
  padding: 5px 18px;

  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav__link:hover {
  color: #609180;
}

.dropdown {
  margin-left: 20px;
  position: relative; 
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 90px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  z-index: 1;
  
  background-color: #ececec;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  text-transform: uppercase;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#logout-button {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

#logout-button:hover {
  color: rgb(230, 108, 108);
}

.dropdown-item:hover {
  cursor: pointer;
}

.global-nav-button {
  padding: 7px 16px;
  background-color: #609180;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 600;

  text-transform: uppercase;
}